* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #ff8d8d, #9ca2de);
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  background: rgba(92, 84, 84, 0.3);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 50px;
  margin-top: 20px;
}

.nav-link {
  background: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  background: #ffaa498f;
  border-radius: 50px;
}

.content {
  height: auto;
  padding: 10vh;
  width: 80%;
  background: rgba(92, 84, 84, 0.3);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  margin-top: 20px;
  overflow: hidden;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#about {
  position: relative;
}

h1 {
  font-weight: normal;
  margin-bottom: 20px;
}

.hero-name {
  color: #ffaa49;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 10px;
}

#details {
  max-width: 600px;
}

#details p {
  line-height: 24px;
  font-size: 20px;
}

#about img {
  position: absolute;
  height: auto;
  width: 60%;
  bottom: -50%;
  right: -10%;
}

.circle {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  top: 2%;
  right: 2%;
  background: rgba(254, 177, 89, 0.8);
  z-index: -1;
}

#services {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.card {
  background-color: #f0f4ffb8;
  border-radius: 20px;
  width: 240px;
  height: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.01);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 50px;
  color: #5b8ff9;
}

.card h2 {
  font-size: 20px;
  color: #3d56a6;
  margin-bottom: 10px;
  line-height: 24px;
}

.card p {
  font-size: 14px;
  color: #5d5d5d;
  text-align: center;
  line-height: 18px;
}

#socials {
  text-align: center;
}

#socials ul {
  list-style: none;
  padding: 0;
}

#socials li {
  display: inline-block;
  margin: 10px 15px;
}

#socials a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#socials i {
  font-size: 32px;
  margin-right: 8px;
  color: #375094;
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4%;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

#socials a:hover i {
  color: rgb(16, 96, 139);
  background-color: white;
}
